# Ignore temporary files
temp/
*.tmp

# Ignore log files
*.log

# Ignore macOS .DS_Store files
.DS_Store

# RStudio specific files
.Rproj.user/
.Rproj
.Rhistory
.RData
.Ruserdata
Balwts.Rproj

# Private files
PlotForTweetorial.R
DataCleaningNsaidRas.R
DataCleaning.R
BalWtsVsModelWts.R